#### C ignore ####
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


### project ignore ##

#CubeIDE project
/*
!/Src/
!/Inc/
# "cargo src" folder
!/cargo\ src/ 
# "balancing src" folder
!/balancing\ src/
!/nrf24l01p_impi/

#!/Inc/ # I should have all files in SRC, or even without a folder, so it will be easier to link them to project when I will submodule it 
/Src/syscalls.c
/Src/sysmem.c

# it will be library, so we wont need main.c on gitHub
# main.c 